{% extends "base.html" %}{% load static %} {% block content %}
<div id="main">

    <!-- Me -->
    <article id="home" class="panel intro">
        <header>
            <h1>About Us</h1>
            <p>We are ready to take care you!</p>
        </header>
        <a href="#work" class="jumplink pic">
            <span class="arrow icon solid fa-chevron-right"><span>See my work</span></span>
            <img src="{% static 'app1/images/me.jpg' %}" alt="" />
        </a>
    </article>




</div>
{% endblock %}